<div class="dropdown" style="margin-right: 60px;">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        {{ request.user.get_full_name }}
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        {% include 'product/cart/nav-cart.html' %}
        <a class="dropdown-item" href="#"><i class="fa fa-cogs"></i> Settings</a>
        <a class="dropdown-item" href="{% url 'user-logout' %}"><i class="fa fa-sign-out"></i> Log out</a>
    </div>
</div>
