{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block body %}

    <div class="row" style="margin-top: 100px;">
        <div class="col-lg-6 offset-3">
            <div class="jumbotron">
                <h1 class="display-4">Hello!</h1>
                <p class="lead"> This is my first attempt in web
                    programming. I just wanted to do some practicing.
                    This is a simple product creating-editing-deleting website. Also there is a cart.
                    You can add product into cart and see these products with price(s) and total price.
                    I also added a simple search bar, which is running according to product's title and name.
                </p>
                <p class="lead">
                    Author: Ethem Güner
                </p>
                <p class="lead">
                    E-Mail: ethemguener@gmail.com
                </p>
                <hr class="my-4">
                <p>Choose an action that you want to do.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" style="width: 26%" href="{% url 'list-products' %}" role="button">
                        See product list
                    </a>
                </p>
                <p class="lead">
                    <a class="btn btn-success btn-lg" style="width: 26%" href="{% url 'add-product' %}" role="button">
                        Add a new product
                    </a>
                </p>
            </div>
        </div>
    </div>


{% endblock %}