{% extends 'base.html' %}
{% block  title %}All Products{% endblock %}

{% block body %}


    <h1 class="text-center" style="margin-top: 60px;">All Products</h1>
    <!-- SEARCH BAR -->
    <div class="col-lg-6 offset-3">
    {% for field in form %}
        <form class="form-inline">
            {{ field }}
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" style="margin-left: 10px;">Search
            </button>
        </form>
    {% endfor %}
    </div>
    <!-- PRODUCT LIST -->
    {% for product in  products %}
        <div class="col-lg-6 offset-3">
            <div class="card text-center" style="margin-top: 50px;">
                <div class="card-header" style="">
                    <a href="{% url 'detail-product' product.slug %}">
                        <h2 style="color: black;">"{{ product.title }}" Product Details</h2>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Product Name</h5>
                    <p class="card-text" style="font-family: 'Trebuchet MS';">{{ product.name }}</p>

                    {% if product.get_image %}
                        <img class="img-thumbnail" src="{{ product.get_image }}">
                    {% endif %}

                    <h5 class="card-title">Product Price</h5>
                    <p class="card-text" style="color: green"><b>${{ product.price }}</b></p>

                    <h5 class="card-title">Product Description</h5>
                    <p class="card-text"
                       style="font-family: 'Bahnschrift Light';">{{ product.description|linebreaksbr }}</p>

                </div>
                <div class="card-footer text-muted">
                    Added {{ product.added_date|timesince }} ago.
                </div>
            </div>
        </div>
    {% empty %}
        <div class="col-lg-6 offset-3" style="margin-top: 25px">
            <h3 class="text-danger" >We couldn't find anything about "{{ search }}". </h3>
        </div>
    {% endfor %}

{% endblock %}